<!-- Generated template for the MenuBarComponent component -->
<ion-navbar>
  <ion-title>
    <ion-title>
      <ion-row>
      <h1 ion-col col-10>Floetry</h1>
        <ion-buttons ion-col col-auto>
          <button ion-button (click)="goToHome()">Home</button>
          <button ion-button (click)="goToDiscover()">Discovery</button>
          <button ion-button (click)="goToProfile()">Profile</button>
          <ion-avatar *ngIf="showProfilePic" ion-button><img src="../assets/imgs/IMG_0214.jpg"></ion-avatar>
        </ion-buttons>
      </ion-row>
    </ion-title>
  </ion-title>
</ion-navbar>
