menu-bar {
  ion-avatar img {
    margin-left: 5px !important;
    width: 100% !important;
    height : 100% !important;
    max-width: 25px !important;  //any size
    max-height: 25px !important; //any size
  }
}
